<!-- <div *ngFor="let activity of activities">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{activity.title}}</mat-card-title>
    <mat-card-subtitle>{{ activity.shortDescription }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="activity.imageUrl">>
  <mat-card-content>
    <p>
    {{activity.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div> -->


<!-- <mat-card>


  <img md-card-image [src]="cardImagePath">

  <mat-card-content>
    <div class="card-text-content">
      {{cardShortDescription}}
    </div>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
    <button md-button (click)="addProductToCart()">ADAUGA IN COS</button>
    <button md-button (click)="openDialog()">DETALII</button>
  </mat-card-actions>

</mat-card>

<div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container mat-elevation-z4">
  <div fxFlex *ngFor="let event of events" class="card-item">
    <mat-card [ngStyle]="{'width':'300' + 'px'}" [event]="event"></mat-card>
  </div> -->


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>


