
  <ng-template #createGroupModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Group</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form class="form" role="form" autocomplete="off">
          <div class="form-group">
            <label for="uname1">Name</label>
            <input type="text" [(ngModel)]="newGroup.name" class="form-control form-control-lg rounded-0" name="name"
              required="">
            <div class="invalid-feedback">Oops, you missed this one.</div>
          </div>
          <div class="form-group">
            <label>Short Description</label>
            <input type="text" [(ngModel)]="newGroup.shortDescription" name="shortDescription"
              class="form-control form-control-lg rounded-0" required="">
            <div class="invalid-feedback">EOops, you missed this one.</div>
          </div>
          <div class="form-group">
            <label for="uname1">Description</label>
            <input type="text" [(ngModel)]="newGroup.description" class="form-control form-control-lg rounded-0"
              name="description" required="">
            <div class="invalid-feedback">Oops, you missed this one.</div>
          </div>
          <div class="form-group">
            <label for="uname1">Image URL</label>
            <input type="text" [(ngModel)]="newGroup.imageUrl" class="form-control form-control-lg rounded-0"
              name="imageUrl" required="">
            <div class="invalid-feedback">Oops, you missed this one.</div>
          </div>
          <button type="submit" (click)="addNewGroup(newGroup); modal.close()"
            class="btn btn-success btn-lg float-right" id="btnLogin">Submit</button>
        </form>
      </div>
      <!--/card-block-->
    </div>
    <!-- /form card login -->
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
    </div>
  </ng-template>

  <ng-template #editGroupModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Group</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form class="form" role="form" autocomplete="off">
          <div class="form-group">
            <label for="uname1">Name</label>
            <input type="text" [(ngModel)]="editGroup.name" class="form-control form-control-lg rounded-0" name="name"
              required="">
            <div class="invalid-feedback">Oops, you missed this one.</div>
          </div>
          <div class="form-group">
            <label>Short Description</label>
            <input type="text" rows="3" [(ngModel)]="editGroup.shortDescription" name="shortDescription"
              class="form-control form-control-lg rounded-0" required="">
            <div class="invalid-feedback">EOops, you missed this one.</div>
          </div>
          <div class="form-group">
            <label for="uname1">Description</label>
            <textarea rows="3" [(ngModel)]="editGroup.description" class="form-control form-control-lg rounded-0"
              name="description" required=""></textarea>
            <div class="invalid-feedback">Oops, you missed this one.</div>
          </div>
          <div class="form-group">
            <label for="uname1">Image URL</label>
            <input type="text" [(ngModel)]="editGroup.imageUrl" class="form-control form-control-lg rounded-0"
              name="imageUrl" required="">
            <div class="invalid-feedback">Oops, you missed this one.</div>
          </div>
          <button type="submit" (click)="updateGroup(editGroup); modal.close()"
            class="btn btn-success btn-lg float-right" id="btnLogin">Submit</button>
        </form>
      </div>
      <!--/card-block-->
    </div>
    <!-- /form card login -->
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
    </div>
  </ng-template>

<div *ngIf="!selected">



  <div class="row card-group">
    <mat-card class="col-3" *ngFor="let group of groups | group" style="text-align:center">
      <mat-card-header>
        <mat-card-title>{{group.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{group.imageUrl}}">
      <mat-card-content>
        <p>
          {{ group.shortDescription }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-info" mat-button (click)="displayGroup(group)">Group Detail</button>
        <button class="btn btn-info" mat-button (click)="joinGroup(group)">Join group</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <br>
  <div  style="text-align: right;">
  <button class="btn btn-lg" mat-button (click)="openLg(createGroupModal)">Create Group</button>
  </div>
  <br>
  <br>
  <br>
</div>

<div *ngIf="selected">

  <br /><br />
  <div class="container bg-faded py-3">
    <h1 class="text-center">{{ selected.name }}</h1>
    <div class="col text-center">
      <div class="row">
        <div class="col text-center">
          Group Creator: {{selected.creator.username}}
        </div>
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="col text-center">
        {{ selected.shortDescription }}
      </div>
    </div>
    <hr />
    <div class="row justify-content-center">
      <img [src]="selected.imageUrl" style="height: 350px;" />
    </div>
    <hr />
    <div class="row">
      <div class="col text-center">
        {{ selected.description }}
      </div>

    </div>
    <hr />
    <div class="row justify-content-center">
      <button class="btn" type="button" *ngIf="isCreator(selected.creator)" (click)="setEditGroup(); openLg(editGroupModal)">Edit</button>
      <button class="btn" type="button" *ngIf="isMember(selected)" (click)="leaveGroup(selected)">Leave group</button>
      <button class="btn" (click)="displayTable()">Back</button>
    </div>
    <br>
    <br>

    <h1 style="text-align:center">Group Members</h1>
    <div class="row card-group justify-content-center">
      <mat-card class="col-3 justify-content-center" style="text-align:center">
        <mat-card-header >
          <mat-card-title class="justify-content-center">{{selected.creator.username}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="rounded-circle" src="{{selected.creator.imageUrl}}">
        <mat-card-content>
          <p>GROUP CREATOR<br> Bio: {{selected.creator.description}}</p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
      <!-- </div> -->
      <!-- <div class="row card-group"> -->
      <mat-card class="col-3 justify-content-center" *ngFor="let user of selected.users" style="text-align:center">
        <mat-card-header>
          <mat-card-title>{{user.username}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="rounded-circle" src="{{user.imageUrl}}">
        <mat-card-content>
          <p> Bio: {{user.description}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


