/* You can add global styles to this file, and also import other style files */
 @import "~bootstrap/dist/css/bootstrap.css";


html, body, button, p, mat-card-title {
  font-family: Futura !important;
  margin-right: auto;
  margin-left: auto;
  max-width: auto;
  padding-right: 10px;
  padding-left: 10px;

}
