
<!-- Displays individual data -->
<div *ngIf="selected">
  <br /><br /><br />
  <div class="container bg-faded py-3">
    <h1 class="text-center">{{ selected.title }}</h1>
    <div class="col text-center">
      <div class="row">
        <div class="col text-center">
          {{ selected.eventDate }} {{selected.eventTime}}
        </div>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col text-center">
        {{ selected.shortDescription }}
      </div>
    </div>
    <hr />
    <div class="row justify-content-center">
          <img [src]="selected.imageUrl" image-resizing
          image-Height="200px" image-Width="200px" />
  </div>
    <hr />
    <div class="col text-center">
      {{ selected.description }}
    </div>
    <hr>
    <div class="row">
      <div class="col-4 mx-auto">
        <div class="card card-body mb-2">
          <h6>Event Date</h6>
          <code>{{ selected.eventDate | date:'medium' }}  at {{selected.eventTime}}</code>
        </div>
      </div>
      <div class="col-4 mx-auto">
        <div class="card card-body mb-2">
          <h6>Location: {{ selected.location.title }}</h6>
          <code>{{ selected.location.street }}</code>
          <code>{{ selected.location.city }}</code>
          <code>{{ selected.location.state }}</code>
          <code>{{ selected.location.postalCode }}</code>



        </div>
      </div>
      <div class="col-4 mx-auto">
        <div class="card card-body mb-2">
          <h6>Other event details?</h6>

        </div>
      </div>
    </div>
    <hr />
    <div class="container bg-faded py-3">
      <div class="row">
        <div class="col text-center">
          <button
            class="btn btn-primary btn-sm"
            (click)="setEditEvent(); open(editEventForm)"
          >
            Edit Event
          </button>
          <button
            class="btn btn-primary btn-sm"
          >
            Show Events
          </button>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <!-- comment box code start -->
  <div class="container py-2">
    <div class="row">
      <div class="comments col-md-9" id="comments">
        <h3 class="mb-4 font-weight-light">Comments</h3>
        <!-- comment -->
        <div class="comment mb-2 row" *ngFor="let comment of eventComments">
          <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
            <a href=""
              ><img
                class="mx-auto rounded-circle img-fluid"
                src="{{ comment.user.imageUrl }}"
                alt="avatar"
            /></a>
          </div>
          <div class="comment-content col-md-11 col-sm-10">
            <h6 class="small comment-meta">
              <a href="#">{{ comment.user.username }}</a>
              {{ comment.createDate }}
            </h6>
            <!-- fix backend before implementing replies -->
            <!-- backend needs inreplyid -->
            <!-- <h6 class="small comment-meta" *ngIf="comment.inReplyId">
              In Reply To: {{ comment.parentComment.user.username }}
              {{ comment.parentComment.createDate }}
            </h6> -->
            <div class="comment-body">
              <p>
                {{ comment.content }}<br />
                <a href="" class="text-right small"
                  ><i class="ion-reply"></i> Reply</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="btn btn-lg btn-outline-primary"

    >
      Leave A Comment
    </button>
  </div>
</div>
<!-- End display individual data and comment box -->


<!-- edit activity box modal -->
<ng-template #editEventForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Event</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- edit activity box code start -->
    <div class="container py-2">
      <div class="row">
        <div class="comments col-md-9" id="editActivity">
          <!-- edit activity box -->
          <form
            #activityForm="ngForm"
            ngNativeValidate
            id="add-activity-form"
            class="text-center"
          >
            <label class="text-left" for="editCurrentEvent">Title </label>
            <input
              class="form-control"
              type="text"
              name="title"
              [(ngModel)]="editCurrentEvent.title"
            /><br />
            <label class="text-left" for="editCurrentActivity">Short Description </label>
            <input
              class="form-control"
              type="text"
              name="shortDescription"
              [(ngModel)]="editCurrentEvent.shortDescription"
              placeholder="Short Description"
            /><br />
            <label class="text-left" for="editCurrentActivity">Full Description </label>
            <input
              class="form-control"
              type="text"
              name="description"
              [(ngModel)]="editCurrentEvent.description"
              placeholder="Description"
            /><br />
            <label class="text-left" for="editCurrentActivity">Image Url </label>
            <input
              class="form-control"
              type="text"
              name="imageUrl"
              [(ngModel)]="editCurrentEvent.imageUrl"
              placeholder="Image URL"
            /><br />
            <label class="text-left" for="editCurrentActivity">Event Date </label>
            <input
              class="form-control"
              type="text"
              name="equipmentLevel"
              [(ngModel)]="editCurrentEvent.eventDate"
              placeholder="Equipment Level"
            /><br />
            <label class="text-left" for="editCurrentActivity">Event Time </label>
            <input
              class="form-control"
              type="text"
              name="equipmentDescription"
              [(ngModel)]="editCurrentEvent.eventTime"
              placeholder="Equipment Description"
            /><br />
            <button
              class="btn btn-success pull-right"
              type="submit"
              (click)="this.updateCurrentEvent(editCurrentEvent)"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>










