
<div *ngIf="!selected">
<h1 style="text-align:center">Current Events</h1>
<div class="row card-group">
  <mat-card class="col-3" *ngFor="let event of eventList" style="text-align:center">
    <mat-card-header>
      <mat-card-title>{{event.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{event.imageUrl}}">
    <mat-card-content>
      <p>
        <strong>{{ event.shortDescription }}</strong></p>
      <p> Event Time and Date: {{event.eventDate}} {{event.eventTime}} </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="displayEvent(event)">Event Detail</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>


<!-- Displays individual data -->
<div *ngIf="selected">
  <br /><br /><br />
  <div class="container bg-faded py-3">
    <h1 class="text-center">{{ selected.title }}</h1>
    <div class="col text-center">
      <div class="row">
        <div class="col text-center">
          {{ selected.eventDate }} {{ selected.eventTime }}
        </div>
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="col text-center">
        {{ selected.shortDescription }}
      </div>
    </div>
    <hr />
    <div class="row justify-content-center">
      <img
        [src]="selected.imageUrl"
        image-resizing
        image-Height="200px"
        image-Width="200px"
      />
    </div>
    <hr />
    <div class="row card-group">
      <mat-card class="col-3" style="text-align: center;">
        <mat-card-header>
          <mat-card-title>Event Date and Time</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ selected.eventDate }} <br />
            {{ selected.eventTime }} <br />
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-3" style="text-align: center;">
        <mat-card-header>
          <mat-card-title
            >Location: {{ selected.location.title }}</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ selected.location.street }} <br />
            {{ selected.location.city }} <br />
            {{ selected.location.state }} <br />
            {{ selected.location.postalCode }} <br />
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-3" style="text-align: center;">
        <mat-card-header>
          <mat-card-title
            >Location: {{ selected.location.title }}</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <p>
            Equipment Level: {{ selected.shortDescription }} <br />{{
              selected.equipmentDescription
            }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <hr />
    <div class="container bg-faded py-3">
      <div class="row">
        <div class="col text-center">
          <button
            class="btn btn-primary btn-sm"
            (click)="setEditEvent(); open(editEventForm)"
          >
            Edit Event
          </button>
          <button class="btn btn-primary btn-sm">
            Show Events
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<!-- End of invidual data display -->

<!-- comment box code start -->
<div class="container py-2">
  <div class="row">
    <div class="comments col-md-9" id="comments">
      <h3 class="mb-4 font-weight-light">Comments</h3>
      <!-- comment -->
      <div class="comment mb-2 row" *ngFor="let comment of eventComments">
        <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
          <a href=""
            ><img
              class="mx-auto rounded-circle img-fluid"
              src="{{ comment.user.imageUrl }}"
              alt="avatar"
          /></a>
        </div>
        <div class="comment-content col-md-11 col-sm-10">
          <h6 class="small comment-meta">
            <a href="#">{{ comment.user.username }}</a>
            {{ comment.createDate }}
          </h6>
          <!-- fix backend before implementing replies -->
          <!-- backend needs inreplyid -->
          <!-- <h6 class="small comment-meta" *ngIf="comment.inReplyId">
              In Reply To: {{ comment.parentComment.user.username }}
              {{ comment.parentComment.createDate }}
            </h6> -->
          <div class="comment-body">
            <p>
              {{ comment.content }}<br />
              <a href="" class="text-right small"
                ><i class="ion-reply"></i> Reply</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    Leave A Comment
  </button>
</div>
<!-- End comment box -->

<!-- Comment box modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Leave a Comment</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- comment box code start -->
    <div class="container py-2">
      <div class="row">
        <div class="comments col-md-9" id="comments">
          <!-- <h3 class="mb-4 font-weight-light">Comments</h3> -->
          <!-- comment box -->
          <div class="row pt-2">
            <div class="col-12">
              <textarea
                class="form-control"
                rows="5"
                placeholder="Your Comment Please....."
                [(ngModel)]="newComment.content"
              ></textarea>
              <br />
              <!-- <button class="btn btn-success pull-right" (click)="addComment(newComment)">Comment.</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success pull-right" (click)="addComment(newComment)">
      Submit
    </button>
  </div>
</ng-template>
<!-- End Comment Box Modal -->

<!-- edit event box modal -->
<ng-template #editEventForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Event</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- edit activity box code start -->
    <div class="container py-2">
      <div class="row">
        <div class="comments col-md-9" id="editActivity">
          <!-- edit activity box -->
          <form
            #activityForm="ngForm"
            ngNativeValidate
            id="add-activity-form"
            class="text-center"
          >
            <label class="text-left" for="editCurrentEvent">Title </label>
            <input
              class="form-control"
              type="text"
              name="title"
              [(ngModel)]="editCurrentEvent.title"
            /><br />
            <label class="text-left" for="editCurrentActivity"
              >Short Description
            </label>
            <input
              class="form-control"
              type="text"
              name="shortDescription"
              [(ngModel)]="editCurrentEvent.shortDescription"
              placeholder="Short Description"
            /><br />
            <label class="text-left" for="editCurrentActivity"
              >Full Description
            </label>
            <input
              class="form-control"
              type="text"
              name="description"
              [(ngModel)]="editCurrentEvent.description"
              placeholder="Description"
            /><br />
            <label class="text-left" for="editCurrentActivity"
              >Image Url
            </label>
            <input
              class="form-control"
              type="text"
              name="imageUrl"
              [(ngModel)]="editCurrentEvent.imageUrl"
              placeholder="Image URL"
            /><br />
            <label class="text-left" for="editCurrentActivity"
              >Event Date
            </label>
            <input
              class="form-control"
              type="text"
              name="equipmentLevel"
              [(ngModel)]="editCurrentEvent.eventDate"
              placeholder="Event Date"
            /><br />
            <label class="text-left" for="editCurrentActivity"
              >Event Time
            </label>
            <input
              class="form-control"
              type="text"
              name="equipmentDescription"
              [(ngModel)]="editCurrentEvent.eventTime"
              placeholder="Event Time"
            /><br />
            <button
              class="btn btn-success pull-right"
              type="submit"
              (click)="this.updateCurrentEvent(editCurrentEvent)"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>
<!-- end edit modal -->

<!-- Add activities -->
<button class="btn btn-lg btn-outline-primary" (click)="open(addEvent)">
  Add Event
</button>

<!-- add event box modal -->
<ng-template #addEvent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Event</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- add event box code start -->
    <div class="container py-2">
      <div class="row">
        <div class="comments col-md-9" id="newActivity">
          <!-- add event box -->
          <form
            #activityForm="ngForm"
            ngNativeValidate
            id="add-activity-form"
            class="text-center"
          >
            <input
              class="form-control"
              type="text"
              name="title"
              [(ngModel)]="newEvent.title"
              placeholder="Title"
            /><br />
            <input
              class="form-control"
              type="text"
              name="shortDescription"
              [(ngModel)]="newEvent.shortDescription"
              placeholder="Short Description"
            /><br />
            <input
              class="form-control"
              type="text"
              name="description"
              [(ngModel)]="newEvent.description"
              placeholder="Description"
            /><br />
            <input
              class="form-control"
              type="text"
              name="imageUrl"
              [(ngModel)]="newEvent.imageUrl"
              placeholder="Image URL"
            /><br />
            <input
              class="form-control"
              type="text"
              name="eventDate"
              [(ngModel)]="newEvent.eventDate"
              placeholder="Event Date"
            /><br />
            <input
              class="form-control"
              type="text"
              name="eventTime"
              [(ngModel)]="newEvent.eventTime"
              placeholder="Event Time"
            /><br />
            <input
            class="form-control"
            type="text"
            name="eventActivity"
            [(ngModel)]="newEvent.activity"
            placeholder="Activity"
          /><br />
            <button
              class="btn btn-success pull-right"
              type="submit"
              (click)="this.addNewEvent(newEvent)"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>
