<h1>Admin Component</h1>

<div *ngIf="!selected">
  <form class="form form-group inline">
    <input class="form-control" type="text" name="name" [(ngModel)]="newResource.name" placeholder="Name"/><br>
    <input class="form-control" type="text" name="description" [(ngModel)]="newResource.description" placeholder="Description"/><br>
    <input class="form-control" type="text" name="link" [(ngModel)]="newResource.link" placeholder="Link"/> <br>
    <input class="form-control" type="text" name="imageUrl" [(ngModel)]="newResource.imageUrl" placeholder="Image URL"/> <br>
    <input class="btn btn-info" type="submit" (click)="createResource(newResource)" value="Add A Resource"/><br>
  </form>

  <hr>

  <table class="table table-info table-hover">
    <thead class="thead thead-primary">
     <tr>
        <th>ID </th>
        <th>Name </th>
        <th>Description</th>
        <th>Link</th>
        <th>Image URL</th>
       </tr>
    </thead>
    <tbody>
   <tr *ngFor="let resource of resourceList" (click)="displayResource(resource)">
       <td><input type="number" name="id" [(ngModel)]="resource.id"></td>
       <td><input type="text" name="name" [(ngModel)]="resource.name"></td>
       <td><input type="text" name="description" [(ngModel)]="resource.description"></td>
       <td><input type="text" name="link" [(ngModel)]="resource.link"></td>
       <td><input type="text" name="imageUrl" [(ngModel)]="resource.imageUrl"></td>
     <td><input class="btn btn-danger" type="submit" (click)="deleteResource(resource.id)" value="Delete Resource"></td>
   </tr>
  </tbody>
  </table>
</div>


    <div *ngIf="selected">
    <br>
   <p> Id: {{selected.id}}<br>
    Name: {{selected.name}}<br>
    Description: {{selected.description}}<br>
    <a href="{{selected.link}}"> {{selected.link}}</a><br>
    <img [src]="selected.imageUrl"><br>
    <br>
    <input class="btn btn-info" type="submit" (click)="setEditResource()" value="Edit"/><br>
    <button class="btn btn-dark" (click)="displayTable()">Display Table</button><br>
<hr>
    <form *ngIf="editResource">
      <input type="text" name="name" [(ngModel)]="editResource.name" placeholder="Name"/><br>
      <input type="text" name="description" [(ngModel)]="editResource.description" placeholder="Resource Description"/><br>
      <input type="text" name="link" [(ngModel)]="editResource.link" placeholder="Link"/><br>
      <input type="text" name="imageUrl" [(ngModel)]="editResource.imageUrl" placeholder="Image URL"/><br>

      <input class="btn btn-info" type="submit" (click)="updateResource(editResource)" value="Save"/>
      <input class="btn btn-dark" type="submit" (click)="editResource = null" value="Cancel"/><br>
    </form>
    </div>





