html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



.column {
  float: center;
  width: 45%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(151, 74, 74, 0.2);
  margin: 6px;
  border-radius: 15px;
  margin-left: 50px;

}

.jumbotron-about {
  padding: 50px;
  background-image: url('/assets/outdistancinglogo.jpg');
  background-size: cover;
  margin-top: 1%;
  background-attachment: scroll;
  max-width: 100%;
  height: 60vh;
  text-align: "center";
  text-shadow: 1px 1px #094654 ;
  background-color: #4CC3CD   ;
  color: white;
  background-position: center;
}

img {
  max-width: 100%;
  width: auto   9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  object-fit:cover;
  background-position: center;
  height: 35vh !important;
}

.container {
  padding: 5 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-family: Roboto;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;

}

.button:hover {
  background-color: #555;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

