<div class="jumbotron jumbotron-about" text-align:center>

<a class="btn btn-primary btn-md" href="https://github.com/sethschn/FinalProject" role="button" text-align="center">Github Repo</a>
</div>

<br>
<blockquote class="blockquote text-center">
  <p class="mb-0"><b>Out Distancing</b> was created with the intention of promoting <em>social distancing activities outdoors</em>.</p>
    <p>During this global pandemic and with strict social distancing guidelines, we would like to encourage people to get outdoors and try something new.
    Make Colorado your playground and you might find that social distancing doesn't have to be so miserable.</p>
</blockquote><br>

<hr>

<h2 style="text-align:center">CREATORS</h2>
<div class="row">
  <div class="column justify-content-center">
    <div class="card" >
      <img src="assets/chrissy.jpg" alt="Chrissy" style="width:100%, 350px; height:250px"  >
      <div class="container">
        <h2>Chrissy</h2>
        <p class="title">Crispy Developer, DBA</p>
        <p>Born and raised in New Jersey.
          Chrissy enjoys hiking, solo travels, cats, skating and watching trash tv.
          In previous years, Chrissy was in the Army as an intelligence analyst.
        </p>
        <!-- <p>pablodood@gmail.com</p>
        <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>
  <br>
  <div class="column">
    <div class="card" >
      <img src="assets/fishingpic.JPG" alt="Jan" style="width:100%, 350px;height:250px" >
      <div class="container">
        <h2>Jan</h2>
        <p class="title">Hippie Developer</p>
        <p>Born and raised in Texas.
          Jan enjoys practicing yoga, traveling, diving, being a hippie and flyfishing.
          In previous years, Jan was in the Navy as an intelligence analyst.
        </p>
        <!-- <p>pablodood@gmail.com</p>
        <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card" >
      <img src="assets/seth.jpeg" alt="Seth" style="width:100%, 350px;height:250px">
      <div class="container">
        <h2>Seth</h2>
        <p class="title">Super Developer, Repo Owner</p>
        <p> Born and raised in Colorado.
          Seth enjoys video games, science & technology, Reddit, Youtubing, spirituality
          and spending time with his family. In previous years, Seth was in the Army.
        </p>
        <!-- <p>pablodood@gmail.com</p>
        <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>

<div class="column">
      <div class="card">
        <img src="assets/tim.png" alt="Tim" style="width:100%, 350px;height:250px">
        <div class="container">
          <h2>Tim</h2>
          <p class="title">Scrum Master, Emo Developer</p>
          <p> Born and raised in California.
            Tim enjoys live music, playing music, social activities and Animal Crossing with his girlfriend Jess.
            In previous years, Tim was an artillery officer in the Army. </p>
        </div>
      </div>
    </div>


