html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.column {
  float: center;
  width: 45%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(151, 74, 74, 0.2);
  margin: 6px;
  border-radius: 15px;
  margin-left: 50px;

}

.jumbotron-about {
  padding: 50px;
  background-image: url('https://drscdn.500px.org/photo/1015184187/q%3D80_m%3D2000/v2?sig=d0bec9ec155ebcc7c0a83ef698c14a497c7b2d0e5cf437b9e24b23cf7171a2b4');
  background-size: cover;
  margin-top: 1%;
  background-attachment: scroll;
  max-width: 100%;
  height: 60vh;
  text-align: "center";
  text-shadow: 1px 1px #094654 ;
  background-color: #4CC3CD   ;
  color: white;
  background-position: center;
}

img {
  max-width: 100%;
  width: auto   9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  object-fit:cover;
  background-position: center;
  height: 35vh !important;
}

.container {
  padding: 5 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.githubicon{
  min-width: 250px;
  max-height: 100px;
  border: none;
}

.title {
  color: grey;
  font-family: Roboto;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;

}

.button:hover {
  background-color: #555;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

