
<ngb-carousel [interval]=1900>
  <ng-template ngbSlide>
    <div class="logo" >
      <img src="assets/outdistancinglogo.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>Mission</h3>
      <p>Promote people to try new activities while respecting social distancing</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/birdwatching.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Bird watching in Colorado</h3>
      <p>Check out our resources to see how to get started</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/fish.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Perfect place to learn how to fish</h3>
      <p>Check out our resources to see how to get started</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/mountains.jpg" alt="Random fourth slide">
    </div>
    <div class="carousel-caption">
      <h3> Explore all the activities you can do in the mountains </h3>
      <p>Check out our resources to see how to get started</p>
    </div>
  </ng-template>
</ngb-carousel>


<div class="container-fluid py-2">
  <div class="scrolling-wrapper">
  <h2 class="font-weight-light"></h2>
  <div class="d-flex flex-row flex-nowrap" >
      <div class="card card-body" *ngFor="let activity of activities; let i = index">
        <img src="{{activity.imageUrl}}"> <br>
         <p> <b>{{activity.title}}</b> <br>
          <button class="btn btn-info" mat-button (click)="displayActivity(activity)">Detail</button>
      </p>
      </div>
    </div>
  </div>
  </div>




<!-- STARTS CAROUSEL MULTIPLES ACTIVITIES -->

<!-- <ngb-carousel activities>
  <ng-template ngbSlide *ngFor="let activity of activities">
      <img src="{{activity.imageUrl}}" alt="Angular Carousel 1">
    <div class="carousel-caption">
      <h3>{{activity.title}}</h3>
      <p>{{activity.shortDescription}}</p>
      <button class="btn btn-info" mat-button (click)="displayActivity(activity)">Activity Detail</button>
    </div>
  </ng-template>
</ngb-carousel> -->
