<div class="container my-4">


  <!-- Jumbotron -->
  <div class="card card-image" style="background-image: url(https://imgur.com/MjIR67O)">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- Content -->
        <h5 class="h5 orange-text"><i class="fa fa-camera-retro"></i> Photography</h5>
        <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
          obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis
          perferendis vitae cumque et quo impedit.</p>
        <a class="btn peach-gradient"><i class="fa fa-clone left"></i> View project</a>

      </div>
    </div>
  </div>
  <!-- Jumbotron -->

  <hr class="my-5">

  <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
    <div class="text-white text-center py-5 px-4 my-5">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Create your beautiful website with
            MDBootstrap</strong></h2>
        <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
          voluptatem,
          optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed
          qui, dolorum!
        </p>
        <a class="btn btn-outline-white btn-md"><i class="fa fa-clone left"></i> View project</a>
      </div>
    </div>
  </div>

</div>
