
/* .jumbotron {
  background-image: url(/assets/outdistancinglogo.jpg);
  background-size: cover;
  height: 100%;
width: 100%;} */
.carousel {
  outline: none !important;
}

.picsum-img-wrapper {
  outline: none;
    margin-top: 2%;
   width: max-content;
   height: max-content;
   background-position: center;
  background-size: cover;
    display: flex;
    margin-bottom: 20px;
    height: 70vh;
    max-width: 100%;
  }
