<div class="jumbotron jumbotron-userprofile" text-align:center>
  </div>

<section>
  <div class="container">
    <div class="row justify-content-center" >
      <div class="col-md-4 mt-4">
          <div class="card profile-card-5">
              <div class="card-img-block" *ngIf="currentUser">
                  <img class="card-img-top" src="{{currentUser.imageUrl}}" alt="Card image cap">
                  <div class="card-body pt-0"><br>
                    <h5 class="card-title">{{currentUser.firstName}} {{currentUser.lastName}}</h5>
                    <h5 class="card-title">{{currentUser.location.city}}, {{currentUser.location.state}}</h5>
                    <p class="card-text">{{currentUser.description}}</p>
                    <a class="btn btn-primary" (click)="openMed(editProfile);setEditUser()">Edit Profile</a>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <br>

  <ngb-accordion>
    <ngb-panel *ngFor="let event of currentUser.userEvents | event" title="{{event.title}}">
      <ng-template ngbPanelContent>
        <img src={{event.imageUrl}}><br>
      {{event.eventDate}}<br>
      {{event.eventTime}}<br>
      {{event.description}}<br>
      <button class="btn btn-sm" (click)="removeEventFromUser(this.event)">
        Remove Event
      </button>
  </ng-template></ngb-panel>
  </ngb-accordion>
<br>

  <div class="container-fluid py-2">
    <div class="scrolling-wrapper">
    <h2 class="font-weight-light"></h2>
    <div class="d-flex flex-row flex-nowrap" >
        <div class="card card-body" *ngFor="let group of currentUser.groups | group">
          <img src="{{group.imageUrl}}"><br>
           <p> <b>{{group.name}}</b> <br>
            <!-- DO BUTTON TO LEAVE GROUP -->
            <!-- <button class="btn btn-info" mat-button (click)="displayGroup(group)"> Group Detail</button> -->
        </p>
        </div>
      </div>
    </div>
    </div>
</div>
</section>

<ng-template #editProfile let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <form class="form" role="form" novalidate="" *ngIf="editUser">
        <div class="form-group">
          <label for="uname1">Email</label>
          <input type="text" [(ngModel)]="editUser.email" class="form-control form-control-lg rounded-0" name="email" id="email1" required="">
          <div class="invalid-feedback">Oops, you missed this one.</div>
        </div>
          <div class="form-group">
            <label for="uname1">First Name</label>
            <input type="text" [(ngModel)]="editUser.firstName" class="form-control form-control-lg rounded-0" name="firstName" required="">
            <div class="invalid-feedback">Oops, you missed this one.</div>
        </div>
        <div class="form-group">
          <label for="uname1">Last Name</label>
          <input type="text" [(ngModel)]="editUser.lastName" class="form-control form-control-lg rounded-0" name="lastName" required="">
          <div class="invalid-feedback">Oops, you missed this one.</div>
        </div>
        <div class="form-group">
          <label for="description">Description/Bio</label>
          <textarea class="form-control" type="text" name="description" [(ngModel)]="editUser.description" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="uname1">Profile Image URL</label>
          <input type="text" [(ngModel)]="editUser.imageUrl" class="form-control form-control-lg rounded-0" name="imageUrl" required="">
          <div class="invalid-feedback">Oops, you missed this one.</div>
        </div>
        <div class="form-group">
          <label for="uname1">Street</label>
          <input type="text" [(ngModel)]="editUser.location.street" name="street" class="form-control form-control-lg rounded-0"  required="">
        <div class="invalid-feedback">Oops, you missed this one.</div>
        </div>
        <div class="form-group">
          <label for="uname1">City</label>
          <input type="text" [(ngModel)]="editUser.location.city" name="city" class="form-control form-control-lg rounded-0"  required="">
        <div class="invalid-feedback">Oops, you missed this one.</div>
        </div>
        <div class="form-group">
          <label for="uname1">State</label>
          <input type="text" [(ngModel)]="editUser.location.state" name="state" class="form-control form-control-lg rounded-0"  required="">
          <div class="invalid-feedback">Oops, you missed this one.</div>
      </div>

        <button type="submit"  (click)="updateUser(editUser); modal.close()" class="btn btn-success btn-lg float-right" id="btnEditProfile">Submit</button>
      </form>
      </div>
      <!--/card-block-->
    </div>
    <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
  </div>
</ng-template>


