<p>activity works!</p>

<!-- Displays individual data -->
<div *ngIf="selected">
  <br /><br /><br />
  <div class="container bg-faded py-3">
    <h1 class="text-center">{{ selected.title }}</h1>
    <div class="row">
      <div class="col text-center">
        {{ selected.shortDescription}}
      </div>
    </div>
    <hr />

    <hr />
    <div class="row">
      <div class="col-4 mx-auto">
        <div class="card card-body mb-2">
          <h6>Resources</h6>
          <code>Image: <img [src]="selected.imageUrl"/></code>
        </div>
      </div>
      <div class="col-4 mx-auto">
        <div class="card card-body mb-2">
          <h6>EquipmentLevel: {{selected.equipmentLevel}}</h6>
          <code>{{ selected.equipmentDescription }}</code>
        </div>
      </div>
      <div class="col-4 mx-auto">
        <div class="card card-body mb-2">
          <h6>Notes</h6>
          <code>text</code>
        </div>
      </div>
    </div>
    <hr />
    <div class="container bg-faded py-3">
      <div class="row">
        <div class="col text-center">
          Completed on: {{ selected.title }} || Records:
          {{ selected.title }}
        </div>
      </div>
      <hr />
      <div *ngIf="!editActivity" class="container bg-faded py-3">
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-primary btn-sm" (click)="setEditActivity()">
              Edit Workout
            </button>
            <button
              class="btn btn-primary btn-sm"
              (click)="displayTable(activities)"
            >
              Show All Workouts
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- comment box code start -->
<div class="container py-2">
  <div class="row">
      <div class="comments col-md-9" id="comments">
          <h3 class="mb-4 font-weight-light">Comments</h3>
          <!-- comment -->
          <div class="comment mb-2 row" *ngFor="let comment of activityComments">
              <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                  <a href=""><img class="mx-auto rounded-circle img-fluid" src="{{comment.user.imageUrl}}" alt="avatar"></a>
              </div>
              <div class="comment-content col-md-11 col-sm-10">
                  <h6 class="small comment-meta"><a href="#">{{comment.user.username}}</a> {{comment.createDate}}</h6>
                  <h6 class="small comment-meta" *ngIf="comment.parentComment"> In Reply To: {{comment.parentComment.user.username}} {{comment.parentComment.createDate}}</h6>
                  <div class="comment-body">
                      <p> {{comment.content}}<br>
                          <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                      </p>
                  </div>
              </div>
          </div>
          <!-- /comment -->
          <div class="row pt-2">
              <div class="col-12">
                  <textarea class="form-control" rows="5" placeholder="Your Comment Please....."  [(ngModel)]="newComment.content"></textarea>
                   <br />
                   <button class="btn btn-success pull-right" (click)="addComment(newComment)">Comment.</button>
              </div>
          </div>
      </div>
  </div>
</div>



</div>


<!-- Displays All Activities -->
<div *ngIf="!selected">
  <table class="table table-striped table-hover">
    <thead class="thead thead-dark">
      <tr>
        <td>ID</td>
        <td>Activity</td>
        <td>Short Description</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activities"  (click)="displayActivity(activity)">
        <td>{{ activity.id }}</td>
        <td>{{ activity.title }}</td>
        <td>{{ activity.shortDescription }}</td>
      </tr>
    </tbody>
  </table>
  </div>

  <!-- Add activities -->
  <form class="form form-inline">
    <input
      class="form-control"
      type="text"
      name="title"
      [(ngModel)]="newActivity.title"
      placeholder="Title"
    /><br>
    <input
      class="form-control"
      type="text"
      name="shortDescription"
      [(ngModel)]="newActivity.shortDescription"
      placeholder="Short Description"
    /><br />
    <input
      class="form-control"
      type="text"
      name="description"
      [(ngModel)]="newActivity.description"
      placeholder="Description"
    /><br />
    <input
      class="form-control"
      type="text"
      name="imageUrl"
      [(ngModel)]="newActivity.imageUrl"
      placeholder="Image URL"
    /><br />
    <input
      class="form-control"
      type="text"
      name="equipmentLevel"
      [(ngModel)]="newActivity.equipmentLevel"
      placeholder="Equipment Level"
    /><br />
    <input
      class="form-control"
      type="text"
      name="equipmentDescription"
      [(ngModel)]="newActivity.equipmentDescription"
      placeholder="Equipment Description"
    /><br />
    <input
      class="btn btn-primary"
      type="submit"
      (click)="addActivity(newActivity)"
      value="Add Activity"
    />
  </form>
