.example-card {
  max-width: 400px;
}


mat-card {
  background-color: whitesmoke;
  color: black;
  background-image: linear-gradient( to bottom,rgba(255,255,255,1), rgba(76,195,205,0.2));
}

.example-header-image {
  background-size: cover;
}

mat-card img{
  width: 100%;
  text-align:center;
  height: 50%;
}

button {
  background-color:#F7DC6F   ;
  color: black;
  margin-right: 3px;
}




