<br />
<h1 style="text-align:center">Welcome Mary Wood to the Admin Dashboard </h1>
<br />
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Weekly</span>
          <h5> Visitors</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">444</h1>
          <small class="font-bold text-navy">Visitors Since Website Creation</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-info pull-right">New</span>
          <h5> Groups</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">12</h1>
          <small class="font-bold text-info">Groups Created by Users</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Added</span>
          <h5>Resources</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">23</h1>
          <small class="font-bold text-navy">New Resources posted by Users</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-info pull-right">Upcoming</span>
          <h5> Events</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">12</h1>
          <small class="font-bold text-info">Events Added in first month</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Messages</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content ibox-heading">
          <h3><i class="fa fa-envelope-o"></i> New Messages</h3>
          <small><i class="fa fa-tim"></i> You have 5 unread messages</small>
        </div>
        <div class="ibox-content">
          <div class="feed-activity-list">

            <div class="feed-element">
              <div>
                <small class="pull-right text-navy">1hr ago</small>
                <strong>Selena Evans</strong>
                <div>How do I update my password?</div>
                <small class="text-muted">Today 3:00 pm - May 6, 2020</small>
              </div>
            </div>

            <div class="feed-element">
              <div>
                <small class="pull-right">4 hrs ago</small>
                <strong>Kyle Johnson</strong>
                <div>Not sure if you got my last message, but I have some ideas</div>
                <small class="text-muted">Today 12:23 pm - May 6, 2020</small>
              </div>
            </div>

            <div class="feed-element">
              <div>
                <small class="pull-right">8 hrs ago</small>
                <strong>Richard Gil</strong>
                <div>Is anyone able to make an event? I am having trouble</div>
                <small class="text-muted">Today 8:00 am - May 6, 2020</small>
              </div>
            </div>
            <div class="feed-element">
              <div>
                <small class="pull-right">1 day ago</small>
                <strong>Katherine Landry</strong>
                <div>How do I report another user for an innapropriate comment? </div>
                <small class="text-muted">Yesterday 8:48 pm - May 5, 2020</small>
              </div>
            </div>
            <div class="feed-element">
              <div>
                <small class="pull-right">1 day ago</small>
                <strong>Kyle Johnson</strong>
                <div>I have some suggestions on some more Activities you can add</div>
                <small class="text-muted">Yesterday 6:13 pm - May 5, 2020</small>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- <hr> -->
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <!-- <div class="ibox-title">


          <h5><a name="Users">Current User List</a></h5>


          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div> -->
        <mat-tab-group>
          <mat-tab label="Users">
            <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Enabled</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td><small>{{user.username}}</small></td>
                    <td><small>{{user.firstName}}</small></td>
                    <td><small>{{user.lastName}}</small></td>
                    <td><small>{{user.enabled}}</small></td>
                    <td><input class="btn btn-danger" type="submit" (click)="deleteUser(user.id)" value="X">
                    </td>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Groups">
            <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Enabled</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let group of groups">
                    <td><small>{{group.name}}</small></td>
                    <td><small>{{group.shortDescription}}</small></td>
                    <td><small>{{group.enabled}}</small></td>
                    <td><input class="btn btn-danger" type="submit" (click)="deleteGroup(group.id)" value="X">
                    </td>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Events">
            <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Enabled</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of events">
                    <td><small>{{event.title}}</small></td>
                    <td><small>{{event.shortDescription}}</small></td>
                    <td><small>{{event.enabled}}</small></td>
                    <td><input class="btn btn-danger" type="submit" (click)="deleteEvent(event.id)" value="X">
                    </td>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Activities">
            <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Enabled</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let activity of activities">
                    <td><small>{{activity.title}}</small></td>
                    <td><small>{{activity.shortDescription}}</small></td>
                    <td><small>{{activity.enabled}}</small></td>
                    <td><input class="btn btn-danger" type="submit" (click)="deleteActivity(activity.id)" value="X">
                    </td>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Resources">
            <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Link</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let resource of resourceList">
                    <td><small>{{resource.name}}</small></td>
                    <td><small><a href="{{resource.link}}" style="color: black;"> Resource Link</a></small></td>
                    <td><input class="btn btn-danger" type="submit" (click)="deleteResource(resource.id)" value="X">
                    </td>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Locations">
            <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                  <tr>
                    <th>Street</th>
                    <th>City</th>
                    <th>States</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let location of locationList">
                    <td><small>{{location.street}}</small></td>
                    <td><small>{{location.city}}</small></td>
                    <td><small>{{location.state}}</small></td>
                    <td><input class="btn btn-danger" type="submit" (click)="deleteALocation(location.id)" value="X">
                    </td>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
