h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}

.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: black;
  font-weight: 700;
  font-family: Futura !important;
}
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #1ab394;
  font-weight: 700;
  font-family: Futura !important;
}

.float-e-margins .btn {
  margin-bottom: 5px;
}

.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
}

.label-primary {
  background-color: #1ab394;
  color: #ffffff;
}

.label-info {
  background-color: #23c6c8;
  color: #ffffff;
}

/* TABLES */

.table > thead > tr > th {
  border-bottom: 1px solid #dddddd;
  vertical-align: bottom;
  font-family: Futura !important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  font-family: Futura !important;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

.full-width {
  width: 100% !important;
}

.ui-draggable .ibox-title {
  cursor: move;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 2px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.ibox-content {
  clear: both;
}
.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}
.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}
.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
}
.ibox-title .label {
  float: left;
  margin-left: 4px;
}


/* COLORS */
.text-navy {
  color: #1ab394;
}
.text-info {
  color: #23c6c8;
}

/* MARGINS & PADDINGS */

.m-l-xs {
  margin-left: 5px;
}
.m-t {
  margin-top: 15px;
}
